NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_INDEXER_URL=http://127.0.0.1:8787
NEXT_PUBLIC_DATA_SOURCE=auto
NEXT_PUBLIC_RPC_FALLBACK=true
NEXT_PUBLIC_SCAN_BLOCKS=200
NEXT_PUBLIC_SCAN_CONCURRENCY=8
NEXT_PUBLIC_SCAN_CACHE_TTL_MS=2500
NEXT_PUBLIC_CREATOR_QUICK_SCAN_BLOCKS=40
NEXT_PUBLIC_CREATOR_MAX_RECEIPTS=3000
NEXT_PUBLIC_REFRESH_MS=8000

CAST_API_TIMEOUT_MS=10000
CAST_API_MAX_BODY_BYTES=16384
CAST_API_MAX_PARAMS=32
