.env
.env.local
.env*.local
.anvil.log
.anvil.pid
.DS_Store

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/public/event-metadata/*
!frontend/public/event-metadata/.gitkeep
!frontend/public/event-metadata/assets/
frontend/public/event-metadata/assets/*
!frontend/public/event-metadata/assets/.gitkeep

contracts/cache/
contracts/out/
contracts/broadcast/
contracts/.env
**/.vscode/settings.json
