.anvil.pid
.anvil.log
.DS_Store
.env
.env.*
!.env.example
!**/.env.example
!**/.env.local.example
!**/.env*.example
*.tsbuildinfo
**/.idea

frontend/node_modules
frontend/dist
frontend/test-results
frontend/playwright-report
frontend/coverage
frontend/public/contract-config.json

contracts/cache
contracts/out
contracts/broadcast
contracts/.env
contracts/node_modules

**/.vscode/settings.json
